Language: Cpp
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignEscapedNewlines: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakInheritanceList: BeforeComma
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*/.*"'
    Priority: 1
    SortPriority: 2
  - Regex: '".*"'
    Priority: 1
  - Regex: "<boost.*"
    Priority: 3
  - Regex: "<X11/.*"
    Priority: 5
  - Regex: ".*"
    Priority: 4
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
PointerAlignment: Right
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
TabWidth: 4

# vim: filetype=yaml
